*{
    padding: 0;
    margin: 0;
}
.navbar {
    background: linear-gradient(90deg, #1b4332 0%, #2d6a4f 100%) !important;
}

.nav-link {
    color: white !important;
}
.container-fluid {
    background-color: #0000002e;
}
.nav-link:hover {
    color: #ffffff !important; 
    background-color: #1b4332; 
    border-radius: 5px;      
    transition: 0.3s;
}

.dropdown-item:hover {
    border-radius: 5px;      
     background-color: #1b4332; 
    color: #ffffff;
    transition: 0.3s;
}

footer {
    background-color: rgb(44, 44, 44);
}

.btn-ipf {
    color: white;
    background-color: #1b4332;
}

.btn-ipf:hover {
     background-color: #1b43322a;
}

.carousel-item img {
    height: 700px;      
    object-fit: cover;  
    width: 100%;
}


.carousel {
    min-height: 500px;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-decoration-color: #1b4332;
}

body main {
    background-color: #f8f9fa; 
}


.card {
    border-top: 5px solid #1b4332;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

h1, h2 {
    color: #1b4332;
}